[flake8]
max-line-length = 88
#ignore =
#    E203,
#    W503,
builtins = 
    button_a,
    display,
    pin_logo,
    Image,
exclude =
    .git,
    .venv,
    __pycache__,
    build,
    dist,    
# per-file-ignores =
#    *.py: F403, F405,
